$bg-color: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
$text-color: #444;
$text-player-color: #333;
$text-color-white: #ddd;
$primary-color: #c7365f;
$active-player-color: rgba(255, 255, 255, 0.4);
$player-bg-color: rgba(255, 255, 255, 0.25);
$btn-bg-color: rgba(255, 255, 255, 0.6);;
$bg-winner: #F9DC5C;
$text-color-winner: #554906;;
