@use '../1-base/variables' as var;

.current{
    background-color: var.$primary-color;
    padding: 15px 0px;
    border-radius: 5px;
    width: 170px;

    &__title{
        font-size: 1rem;
        color: var.$text-color-white;
    }

    &__score{   
        font-size: 1.8rem;
        color: white;
        margin-top: 10px;
    }
}